@tailwind base;
@tailwind components;
@tailwind utilities;

/* --------------------------------------- REGISTER - LOGIN ---------------------------------------  */

/* class utils */
.btn-show-password {
  @apply -ml-10 text-lg text-customGray;
}

.btn-submit .spinner {
  @apply w-5 h-5 border-4 border-t-4 border-gray-200 border-t-yellow-400 rounded-full my-1 animate-spin;
}

.form-input {
  @apply w-full p-3 h-12 border rounded-md text-gray-700 mt-1 focus:ring-transparent;
}

.form-input::placeholder {
  @apply text-gray-400 font-light;
}

.err-mess-validation {
  @apply mt-7 flex text-red-500 text-sm bg-red-100/60 p-2 rounded-sm gap-1 items-center;
}

.input-error {
  @apply border-red-300 hover:border-red-500 focus:border-red-500 focus:shadow-custom-red;
}

.input-valid {
  @apply border-gray-300 hover:border-blue-500 focus:border-blue-500 focus:shadow-custom-blue;
}

.input-disabled {
  @apply border-gray-300 bg-gray-100;
}

.error-message {
  @apply ml-2 md:text-sm text-[12px]  text-red-500;
}

/* ------- */

.register,
.login {
  background: url(/img/bg-login-register.avif);
  @apply relative min-h-screen bg-cover bg-center bg-no-repeat flex items-center justify-center py-20;
}

.register::before,
.login::before {
  content: "";
  @apply absolute top-0 left-0 right-0 bottom-0 bg-opacity-95;
  background-image: radial-gradient(circle, transparent, #000000);
}

.register .input-error,
.login .input-error {
  @apply border-red-300 hover:border-red-500 focus:border-red-500 focus:shadow-custom-red;
}

.register .input-valid,
.login .input-valid {
  @apply border-gray-300 hover:border-blue-500 focus:border-blue-500 focus:shadow-custom-blue;
}

.register .error-message,
.login .error-message {
  @apply ml-2 md:text-sm text-[12px]  text-red-500;
}

.register-form,
.login-form {
  @apply relative bg-white rounded-md p-4 w-full max-w-sm md:max-w-md;
}

.register-form-title,
.login-form-title {
  @apply text-center font-semibold text-2xl text-gray-800
  flex flex-col justify-center items-center mt-3 mb-8;
}

.register-form-title .icon,
.login-form-title .icon {
  @apply p-2 rounded-full bg-customPink text-white text-2xl mb-2;
}

.register-form .form-input,
.login-form .form-input {
  @apply w-full p-3 h-12 border rounded-md text-gray-700 mt-1 focus:ring-transparent;
}

.register-form .form-input::placeholder,
.login-form .form-input::placeholder {
  @apply text-gray-400 font-light;
}

.register .btn-submit,
.login .btn-submit {
  @apply mt-6 shadow-md bg-customPink text-white py-3 px-6 rounded-md focus:outline-none w-full
  flex items-center justify-center space-x-2;
}

.register .navigate,
.login .navigate {
  @apply mt-5 mb-3 text-center;
}

.register .form-group label,
.login .form-group label {
  @apply font-medium ml-1;
}

.register .err-mess-validation,
.login .err-mess-validation {
  @apply mt-7 flex text-red-500 text-sm bg-red-100/60 p-2 rounded-sm gap-1 items-center;
}

/* ant design */
.ant-picker .ant-picker-input input::placeholder {
  @apply text-gray-400 font-light font-sans;
}

.ant-select {
  @apply w-full min-w-20 h-12 mt-1;
}

.ant-select-selection-wrap .ant-select-selection-placeholder {
  @apply text-gray-400 font-light font-sans text-[16px];
}

.ant-select-selection-wrap .ant-select-selection-item {
  @apply text-gray-700 text-[16px];
}

/* alert */
.register-alert-info,
.login-alert-info {
  @apply text-center py-5;
}

.register-alert-info .alert-icon,
.login-alert-info .alert-icon {
  @apply mx-auto mb-4 h-14 w-14;
}

.register-alert-info .title,
.login-alert-info .title {
  @apply mb-5 text-xl font-normal text-gray-500 dark:text-gray-400;
}

.register-alert-info .group-btn {
  @apply flex justify-center gap-4;
}

.register-alert-info .group-btn .btn {
  @apply p-5 rounded-md text-[16px];
}

/* Login */
.login .rememberAccount {
  @apply flex items-center gap-1;
}

.login .MdCheckBox {
  @apply text-customPink text-xl;
}

.login .custom_icon {
  @apply text-xl text-gray-300;
}

/* --------------------------------------- USER PROFILE ---------------------------------------  */

.user-profile-banner {
  background: url(/img/bg-user-profile.jpeg);
  @apply bg-no-repeat bg-cover bg-bottom h-[50vh] lg:h-[40vh]
    flex justify-center items-center relative pt-20 md:pt-10 lg:pt-0
    uppercase text-gray-100 tracking-wider text-lg md:text-xl lg:text-3xl;
}

.user-profile-banner::before {
  content: "";
  @apply absolute top-0 bottom-0 left-0 right-0 opacity-80;
  background-image: linear-gradient(195deg, #4c4c4c, #191919);
}

.user-profile {
  @apply py-5 px-7 xl:flex gap-10 container mx-auto;
}

.user-profile .info-left {
  @apply min-w-96 max-h-[600px] p-5 border border-gray-200
  rounded-md flex flex-col;
}

.user-profile .info-right {
  @apply w-full mt-12 xl:mt-0;
}

/* info-right */

.user-profile .info-right .title {
  @apply text-2xl font-semibold;
}

.user-profile .info-right .basic-user-info {
  @apply text-gray-500 my-4;
}

.user-profile .info-right .edit-profile {
  @apply underline text-customPink hover:bg-yellow-100 p-2 rounded-md;
}

.user-profile .info-right .rented-rooms-information {
  @apply min-h-[50vh] text-lg;
}

.info-right .rented-rooms-information .title {
  @apply my-3 text-2xl;
}

/* info-left */
.user-profile .info-left .user-avatar {
  @apply flex flex-col;
}

.info-left .user-avatar .avatar-default {
  @apply text-9xl w-full my-3;
}

.info-left .user-avatar .avatar-upload {
  @apply w-36 h-36 object-cover mx-auto rounded-full my-3;
}

.info-left .user-avatar .update-avatar {
  @apply underline font-bold text-sm mt-2 text-customPink hover:bg-yellow-100 p-2 rounded-md;
}

.user-profile .info-left .verify-id .badge {
  @apply flex items-center gap-2 text-xl font-bold mt-3;
}

.user-profile .info-left .verify-id p {
  @apply text-sm my-7;
}

.info-left .verify-id .btn-award-badge {
  @apply text-left mb-6 border border-gray-300 rounded-md w-fit py-1 px-3 text-sm;
}

.verify-id .btn-award-badge.false {
  @apply hover:text-customPink hover:border-customPink duration-300 hover:shadow-custom-red;
}

.user-profile .info-left .verify-email .title {
  @apply my-6 uppercase text-xl font-bold;
}

.user-profile .info-left .verify-email .info {
  @apply flex gap-2 items-center;
}

/* Form Edit Profile */
.user-info-title {
  @apply text-2xl mb-8 capitalize;
}

.user-info-field {
  @apply grid md:grid-cols-2 gap-y-5 gap-x-10;
}

.user-info-submit {
  @apply flex justify-end mt-10 mb-3;
}

.user-info-submit .btn-submit {
  @apply uppercase tracking-wider text-sm py-2 px-3 min-w-28
  flex justify-center rounded-md duration-300
  text-white bg-indigo-500;
}

/* Alert Update Info */
.user-profile-alert {
  @apply text-center py-5;
}

.user-profile-alert-info .alert-icon {
  @apply mx-auto mb-4 h-14 w-14;
}

.user-profile-alert-info .title {
  @apply mb-5 text-center text-xl font-normal text-gray-500 dark:text-gray-400;
}

.user-profile-alert-info .group-btn {
  @apply flex justify-center gap-4;
}

.user-profile-alert-info .group-btn .btn {
  @apply p-5 rounded-md text-[16px];
}

.modal-user-avatar {
  @apply relative max-w-lg mx-auto my-12;
}

.modal-user-avatar .avatar {
  @apply w-36 h-36 object-cover mx-auto rounded-full;
}

.modal-user-avatar .avatar-default {
  @apply text-9xl w-full my-3 text-gray-700;
}

.modal-user-avatar .validation {
  @apply ml-2 text-customPink mt-2;
}

/* room details */
.rented-rooms-information .room-group {
  @apply space-y-8 mt-6;
}

.rented-rooms-information .room {
  @apply border border-gray-200 rounded-xl p-5 max-h-[450px]
  md:flex gap-5 hover:shadow-xl transition-all;
}

.rented-rooms-information .room .img {
  @apply w-full md:w-[320px] relative transition-all;
}

.rented-rooms-information .room .image {
  @apply rounded-xl object-cover h-56 w-full min-w-80;
}

.rented-rooms-information .room .info {
  @apply relative mt-8 md:mt-0 text-gray-500 text-sm 2xl:text-[16px]
  w-full md:w-1/2 lg:w-2/3;
}

.rented-rooms-information .room .info .room-name {
  @apply text-xl 2xl:text-2xl text-black mt-1 overflow-hidden text-ellipsis whitespace-nowrap;
}

.rented-rooms-information .room .info hr {
  @apply border-2 rounded-full w-1/6 mt-1 mb-2;
}

.rented-rooms-information .room .info .basic-info,
.rented-rooms-information .room .info .plus-info {
  @apply overflow-hidden text-ellipsis whitespace-nowrap mt-1;
}

.rented-rooms-information .room .info .price {
  @apply flex justify-end mt-4 text-sm font-bold text-black
  md:absolute right-0 bottom-0;
}

/* --------------------------------- PAGE 404 -------------------------------------- */

.notFound {
  @apply flex flex-col items-center justify-center min-h-screen bg-gray-100 text-center px-4;
}

.notFound .title {
  @apply text-9xl scale-150 font-bold text-transparent bg-clip-text bg-gradient-to-r from-red-500  to-customPink/90;
}

.notFound .content {
  @apply text-2xl text-gray-500 mt-10 tracking-wider;
}

.notFound .navigate {
  @apply mt-6 inline-block px-6 py-3 bg-customPink text-white text-lg font-semibold rounded-md hover:bg-red-500 transition;
}

/* ---------------------------------LOADING PAGE -------------------------------------- */

.page-loading-airbnb {
  @apply min-h-screen flex justify-center items-center bg-gray-100 px-4;
}

.page-loading-airbnb .loading-dots {
  @apply w-[30px] aspect-[1] rounded-full xl:scale-150 scale-110;
  animation: l5 1s infinite linear alternate;
}

@keyframes l5 {
  0% {
    box-shadow: 40px 0 #fe6b6e, -40px 0 #fe6b6e33;
    background: #fe6b6e;
  }
  33% {
    box-shadow: 40px 0 #fe6b6e, -40px 0 #fe6b6e33;
    background: #fe6b6e33;
  }
  66% {
    box-shadow: 40px 0 #fe6b6e33, -40px 0 #fe6b6e;
    background: #fe6b6e33;
  }
  100% {
    box-shadow: 40px 0 #fe6b6e33, -40px 0 #fe6b6e;
    background: #fe6b6e;
  }
}
