/* styles/globals.css */

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* --------------------------------------- REGISTER - LOGIN ---------------------------------------  */

/* class utils */
.btn-show-password {
  @apply -ml-10 text-lg text-customGray;
}

.btn-submit .spinner {
  @apply w-5 h-5 border-4 border-t-4 border-gray-200 border-t-yellow-400 rounded-full my-1 animate-spin;
}

.form-input {
  @apply w-full p-3 h-12 border rounded-md text-gray-700 mt-1 focus:ring-transparent;
}

.form-input::placeholder {
  @apply text-gray-400 font-light;
}

.err-mess-validation {
  @apply mt-7 flex text-red-500 text-sm bg-red-100/60 p-2 rounded-sm gap-1 items-center;
}

.input-error {
  @apply border-red-300 hover:border-red-500 focus:border-red-500 focus:shadow-custom-red;
}

.input-valid {
  @apply border-gray-300 hover:border-blue-500 focus:border-blue-500 focus:shadow-custom-blue;
}

.input-disabled {
  @apply border-gray-300 bg-gray-100;
}

.error-message {
  @apply ml-2 md:text-sm text-[12px]  text-red-500;
}

/* ------- */

.register,
.login {
  background: url(/img/bg-login-register.avif);
  @apply relative min-h-screen bg-cover bg-center bg-no-repeat flex items-center justify-center pb-20 pt-56;
}

.register::before,
.login::before {
  content: "";
  @apply absolute top-0 left-0 right-0 bottom-0 bg-opacity-95;
  background-image: radial-gradient(circle, transparent, #000000);
}

.register .input-error,
.login .input-error {
  @apply border-red-300 hover:border-red-500 focus:border-red-500 focus:shadow-custom-red;
}

.register .input-valid,
.login .input-valid {
  @apply border-gray-300 hover:border-blue-500 focus:border-blue-500 focus:shadow-custom-blue;
}

.register .error-message,
.login .error-message {
  @apply ml-2 md:text-sm text-[12px]  text-red-500;
}

.register-form,
.login-form {
  @apply relative bg-white rounded-md p-4 w-full max-w-sm md:max-w-md;
}

.register-form-title,
.login-form-title {
  @apply text-center font-semibold text-2xl text-gray-800
  flex flex-col justify-center items-center mt-3 mb-8;
}

.register-form-title .icon,
.login-form-title .icon {
  @apply p-2 rounded-full bg-customPink text-white text-2xl mb-2;
}

.register-form .form-input,
.login-form .form-input {
  @apply w-full p-3 h-12 border rounded-md text-gray-700 mt-1 focus:ring-transparent;
}

.register-form .form-input::placeholder,
.login-form .form-input::placeholder {
  @apply text-gray-400 font-light;
}

.register .btn-submit,
.login .btn-submit {
  @apply mt-6 shadow-md bg-customPink text-white py-3 px-6 rounded-md focus:outline-none w-full
  flex items-center justify-center space-x-2;
}

.register .navigate,
.login .navigate {
  @apply mt-5 mb-3 text-center;
}

.register .form-group label,
.login .form-group label {
  @apply font-medium ml-1;
}

.register .err-mess-validation,
.login .err-mess-validation {
  @apply mt-7 flex text-red-500 text-sm bg-red-100/60 p-2 rounded-sm gap-1 items-center;
}

/* ant design */
.ant-picker .ant-picker-input input::placeholder {
  @apply text-gray-400 font-light font-sans;
}

.ant-select {
  @apply w-full min-w-20 h-12 mt-1;
}

.ant-select-selection-wrap .ant-select-selection-placeholder {
  @apply text-gray-400 font-light font-sans text-[16px];
}

.ant-select-selection-wrap .ant-select-selection-item {
  @apply text-gray-700 text-[16px];
}

/* alert */
.register-alert-info,
.login-alert-info {
  @apply text-center py-5;
}

.register-alert-info .alert-icon,
.login-alert-info .alert-icon {
  @apply mx-auto mb-4 h-14 w-14;
}

.register-alert-info .title,
.login-alert-info .title {
  @apply mb-5 text-xl font-normal text-gray-500 dark:text-gray-400;
}

.register-alert-info .group-btn {
  @apply flex justify-center gap-4;
}

.register-alert-info .group-btn .btn {
  @apply p-5 rounded-md text-[16px];
}

/* Login */
.login .rememberAccount {
  @apply flex items-center gap-1;
}

.login .MdCheckBox {
  @apply text-customPink text-xl;
}

.login .custom_icon {
  @apply text-xl text-gray-300;
}

/* Login Google */
.login-google {
  @apply mt-6;
}

.login-google .hr {
  @apply mb-5 text-center relative h-5;
}

.login-google .hr .hr-css {
  @apply w-2/5 mx-auto text-red-500 border absolute top-1/2 left-1/2 transform -translate-x-1/2;
}

.login-google .hr .hr-info {
  @apply absolute text-black/60 left-1/2 font-light text-sm transform -translate-x-1/2 mb-32 bg-white px-2;
}

.google-btn {
  @apply flex gap-2 justify-center items-center;
}

.g-in {
  @apply uppercase scale-110 pt-1 -ml-2;
}
/* --------------------------------------- USER PROFILE ---------------------------------------  */

.user-profile-banner {
  background: url(/img/bg-user-profile.jpeg);
  @apply bg-no-repeat bg-cover bg-bottom h-[50vh] lg:h-[40vh] mt-32
    flex justify-center items-center text-center relative pt-10 lg:pt-0
    uppercase text-gray-100 tracking-wider text-lg md:text-xl lg:text-3xl;
}

.user-profile-banner::before {
  content: "";
  @apply absolute top-0 bottom-0 left-0 right-0 opacity-80;
  background-image: linear-gradient(195deg, #4c4c4c, #191919);
}

.user-profile {
  @apply py-5 px-7 xl:flex gap-10 container mx-auto;
}

.user-profile .info-left {
  @apply sm:min-w-80 xl:min-w-96 max-h-[600px] p-5 border border-gray-200
  rounded-md flex flex-col;
}

.user-profile .info-right {
  @apply w-full mt-12 xl:mt-0;
}

/* info-right */

.user-profile .info-right .title {
  @apply text-2xl font-semibold;
}

.user-profile .info-right .basic-user-info {
  @apply text-gray-500 my-4;
}

.user-profile .info-right .edit-profile {
  @apply underline text-customPink hover:bg-yellow-100 p-2 rounded-md;
}

.user-profile .info-right .rented-rooms-information {
  @apply min-h-[50vh] text-lg;
}

.info-right .rented-rooms-information .title {
  @apply my-3 text-2xl;
}

/* info-left */
.user-profile .info-left .user-avatar {
  @apply flex flex-col;
}

.info-left .user-avatar .avatar-default {
  @apply text-9xl w-full my-3;
}

.info-left .user-avatar .avatar-upload {
  @apply w-36 h-36 object-cover mx-auto rounded-full my-3;
}

.avatar-user-upload {
  @apply w-8 h-8 object-cover mx-auto rounded-full;
}

.info-left .user-avatar .update-avatar {
  @apply underline font-bold text-sm mt-2 text-customPink hover:bg-yellow-100 p-2 rounded-md;
}

.user-profile .info-left .verify-id .badge {
  @apply flex items-center gap-2 text-xl font-bold mt-3;
}

.user-profile .info-left .verify-id p {
  @apply text-sm my-7;
}

.info-left .verify-id .btn-award-badge {
  @apply text-left mb-6 border border-gray-300 rounded-md w-fit py-1 px-3 text-sm;
}

.verify-id .btn-award-badge.false {
  @apply hover:text-customPink hover:border-customPink duration-300 hover:shadow-custom-red;
}

.user-profile .info-left .verify-email .title {
  @apply my-6 uppercase text-xl font-bold;
}

.user-profile .info-left .verify-email .info {
  @apply flex gap-2 items-center;
}

/* Form Edit Profile */
.user-info-title {
  @apply text-2xl mb-8 capitalize;
}

.user-info-field {
  @apply grid md:grid-cols-2 gap-y-5 gap-x-10;
}

.user-info-submit {
  @apply flex justify-end mt-10 mb-3;
}

.user-info-submit .btn-submit {
  @apply uppercase tracking-wider text-sm py-2 px-3 min-w-28
  flex justify-center rounded-md duration-300
  text-white bg-indigo-500;
}

/* Alert Update Info */
.user-profile-alert {
  @apply text-center py-5;
}

.user-profile-alert-info .alert-icon {
  @apply mx-auto mb-4 h-14 w-14;
}

.user-profile-alert-info .title {
  @apply mb-5 text-center text-xl font-normal text-gray-500 dark:text-gray-400;
}

.user-profile-alert-info .group-btn {
  @apply flex justify-center gap-4;
}

.user-profile-alert-info .group-btn .btn {
  @apply p-5 rounded-md text-[16px];
}

.modal-user-avatar {
  @apply relative max-w-lg mx-auto my-12;
}

.modal-user-avatar .avatar {
  @apply w-36 h-36 object-cover mx-auto rounded-full;
}

.modal-user-avatar .avatar-default {
  @apply text-9xl w-full my-3 text-gray-700;
}

.modal-user-avatar .validation {
  @apply ml-2 text-customPink mt-2;
}

/* room details */
.rented-rooms-information .room-group {
  @apply space-y-8 mt-6;
}

.rented-rooms-information .room {
  @apply border border-gray-200 rounded-xl p-5 max-h-[450px]
  md:flex gap-5 hover:shadow-xl transition-all;
}

.rented-rooms-information .room .img {
  @apply w-full md:w-1/2 xl:w-fit relative transition-all;
}

.rented-rooms-information .room .image {
  @apply rounded-xl object-cover h-56 w-full;
}

.rented-rooms-information .room .info {
  @apply relative mt-8 md:mt-0 text-gray-500 text-sm 2xl:text-[16px]
  w-full md:w-1/2 xl:w-3/5;
}

.rented-rooms-information .room .info .room-name {
  @apply text-xl 2xl:text-2xl text-black mt-1 overflow-hidden text-ellipsis whitespace-nowrap;
}

.rented-rooms-information .room .info hr {
  @apply border-2 rounded-full w-1/6 mt-1 mb-2;
}

.rented-rooms-information .room .info .basic-info,
.rented-rooms-information .room .info .plus-info {
  @apply overflow-hidden text-ellipsis whitespace-nowrap mt-1;
}

.rented-rooms-information .room .info .price {
  @apply flex justify-end mt-4 text-sm font-bold text-black
  md:absolute right-0 bottom-0;
}

/* --------------------------------- PAGE 404 -------------------------------------- */

.notFound {
  @apply flex flex-col items-center justify-center min-h-screen bg-gray-100 text-center px-4;
}

.notFound .title {
  @apply text-9xl scale-150 font-bold text-transparent bg-clip-text bg-gradient-to-r from-red-500  to-customPink/90;
}

.notFound .content {
  @apply text-2xl text-gray-500 mt-10 tracking-wider;
}

.notFound .navigate {
  @apply mt-6 inline-block px-6 py-3 bg-customPink text-white text-lg font-semibold rounded-md hover:bg-red-500 transition;
}

/* --------------------------------- LOADING PAGE -------------------------------------- */

.page-loading-airbnb {
  @apply min-h-screen flex justify-center items-center bg-gray-100 px-4;
}

.page-loading-airbnb .loading-dots {
  @apply w-[30px] aspect-[1] rounded-full xl:scale-150 scale-110;
  animation: l5 1s infinite linear alternate;
}

@keyframes l5 {
  0% {
    box-shadow: 40px 0 #fe6b6e, -40px 0 #fe6b6e33;
    background: #fe6b6e;
  }
  33% {
    box-shadow: 40px 0 #fe6b6e, -40px 0 #fe6b6e33;
    background: #fe6b6e33;
  }
  66% {
    box-shadow: 40px 0 #fe6b6e33, -40px 0 #fe6b6e;
    background: #fe6b6e33;
  }
  100% {
    box-shadow: 40px 0 #fe6b6e33, -40px 0 #fe6b6e;
    background: #fe6b6e;
  }
}

/* --------------------------------- ADMIN LAYOUT -------------------------------------- */
.admin {
  @apply flex justify-center 2xl:px-48 mx-auto bg-gray-300/60;
}

/* dashboard */

.admin .dashboard {
  @apply w-1/5 bg-customDark relative 2xl:max-w-80;
}

.dashboard .admin-logo {
  @apply flex flex-wrap justify-start items-center gap-4 font-bold py-10
  px-2 sm:px-8;
}

.dashboard .admin-logo:hover {
  filter: drop-shadow(0 0 2em #c1c4ffaa);
}

.admin-logo .group-name {
  @apply text-xl text-transparent bg-clip-text bg-gradient-to-r from-yellow-400 via-yellow-300 to-yellow-100;
}

.admin-menu .link-active {
  @apply bg-customPink my-5 text-white py-3 px-3
  sm:px-8 text-sm md:text-[16px] flex justify-start items-center;
}

.admin-menu .link-noActive {
  @apply my-5 text-white/65 hover:text-white py-3 px-3 transition-all
  sm:px-8 text-sm md:text-[16px] flex justify-start items-center;
}

.admin-menu a span {
  @apply mt-1 md:overflow-hidden text-ellipsis whitespace-nowrap hidden md:inline;
}

.admin-back-home {
  @apply absolute bottom-0 w-full left-0 bg-slate-800 text-center text-white;
}

.admin-back-home a {
  @apply hover:cursor-pointer block p-5 transition-all;
}

.FaArrowLeft {
  @apply inline;
}

.admin-back-home a:hover .FaArrowLeft {
  @apply -translate-x-2;
}

/* Outlet - Children */
.admin .outlet {
  @apply w-4/5 bg-gray-100 pb-8;
}

.admin .outlet .top-outlet {
  @apply bg-white text-right py-2 px-4 flex justify-between items-center;
}

.admin .outlet .top-outlet .admin-info {
  @apply p-2 text-black/80 relative transition-all duration-300;
}

.top-outlet .adminName {
  @apply text-indigo-500 font-semibold ml-1 uppercase;
}

.admin .btn-logOut {
  @apply text-red-600 hover:text-red-500 rounded-md hover:bg-gray-100 p-2;
}

.admin .outlet .main-outlet {
  @apply bg-white m-3 rounded-sm min-h-screen;
}

.admin-info .content {
  @apply absolute z-50 -right-72 -bottom-24 min-w-72 bg-slate-200/80 backdrop-blur-sm 
  p-4 text-left font-semibold rounded-md text-black/80 capitalize 
  hidden;
}
.admin-info:hover .content {
  @apply block;
}

.admin-info .content span {
  @apply font-thin ml-1;
}

/* MODAL */

.alert-logout-info {
  @apply text-center py-5;
}

.alert-logout-info .alert-icon {
  @apply mx-auto mb-4 h-14 w-14;
}

.alert-logout-info .title {
  @apply mb-5 text-xl font-normal text-gray-500;
}

.alert-logout-info .btn {
  @apply flex justify-center gap-4;
}

/* ----------------------------- ADMIN USER ---------------------------------- */
/* Pháº§n chung */
.admin-user {
  @apply p-4;
}

.admin-user .title {
  @apply capitalize font-semibold text-2xl;
}

.admin-user .btn-add-user {
  @apply my-4 capitalize rounded-sm;
}

.admin-user .search-user {
  @apply my-3 text-lg;
}

.admin-user .table-users {
  @apply overflow-x-auto mt-8;
}

.table-users .btn-edit-user {
  @apply font-medium text-blue-500 hover:underline dark:text-cyan-500;
}

.table-users .btn-delete-user {
  @apply font-medium text-red-500 hover:underline dark:text-cyan-500 ml-2;
}

/* EditUser */

.admin-edit-user {
  @apply p-10;
}

.admin-edit-user .title {
  @apply text-2xl font-semibold text-gray-800 mb-10;
}

.form-edit {
  @apply space-y-10;
}

.form-edit .input {
  @apply grid lg:grid-cols-2 gap-y-8 gap-x-6;
}

.form-edit .input .errMess {
  @apply text-red-500 text-sm pl-2;
}

.form-edit .input .custom_icon {
  @apply text-xl text-gray-400;
}

.form-edit .btn-submit {
  @apply mt-2 shadow-md bg-indigo-500 text-white py-2 px-6 rounded-md hover:bg-indigo-700 focus:outline-none w-full
  flex items-center justify-center space-x-2;
}

.form-edit .btn-submit .spinner {
  @apply w-5 h-5 border-4 border-t-4 border-gray-200 border-t-yellow-400 rounded-full my-1 animate-spin;
}
